<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="registration.component.css">
</head>
<body>
<div class="mainRectangle">
    <h1 class="title">X-test</h1>
    <h2 class="titleCreateAccount"></h2>
    <input class="nameField" type="text" placeholder="Імʼя">
    <input class="lastnameField" type="text" placeholder="Прізвище">
    <input class="emailField" type="text" placeholder="Електронна пошта">
    <input class="password" type="password" placeholder="Пароль">
    <button class="btn btn-primary">Зареєструватись</button>
</div>
</body>
</html>